body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #3D405B;
  background-color: #f4f1decb;
}

.header {
  background-color: #e07b5fad;
  height: 100px;
  padding: 2px;
  text-align: center;
  color: #1C2541;
  font-size: 20px;
}

.container div {
  padding: 1%;
  box-sizing: border-box;
  min-height: 500px;
}

.column {
  float: left;
  width: 32%;
  margin-left: 15px;
  box-sizing: border-box;
  margin-top:15px;
}

img {
  float: left;
  border: 5px dotted #3D405B;
  margin: auto;
  width: 32%;
  height: auto;
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
}

.column_right {
  float: left;
  width: 32%;
  padding: 16px;
  margin-top: 15px;
  margin-left: 15px;
  padding: 15px;
  height: 775px;
  margin-bottom: 15px;
  background-color: #81b29a94;
  border: 5px dotted #81b29a96;
  box-sizing: border-box;
}

p {
  font-size: 16px;
}

li {
  font-size: 14px;
}

h3 {
  text-align: center;
  text-decoration: underline rgb(124, 118, 124);
}

.job {
  font-size: 14px;
}

.coffee {
  color: #e07b5f;
}

.boba {
  color: #8228EC;
}

.footer {
  clear: both;
  text-align: center;
  bottom: 0;
  height: 60px;
  padding: 8px;
  color: #3D405B;
  background-color: #e07b5fad;
  box-sizing: border-box;
}