body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
  text-align: center;
  color: darkblue;
  font-size: 40px;
}

.column {
  width: 50%;
  float:left;
  background-color: rgba(240, 248, 255, 0.801);
  padding: 16px;
  margin-left: 15px;
  box-sizing: border-box;
  margin-top:15px;
}

img {
  float: left;
  border: 6px dotted rgb(245, 157, 85);
  margin: auto;
  width: 20%;
  height: auto;
  display: block;
  margin-top: 90px;
}

p {
  font-size: 14px;
}

li {
  font-size: 13px;
}

.education p {
  font-style: italic;
}

.square {
  list-style-type: square;
  margin-left: -2em;
}

.column_right {
  float: left;
  padding: auto;
  margin-top: 15px;
  margin-left: 15px;
  padding: 20px;
  width: 80%;
  margin-right: auto;
  background-color: rgb(255, 238, 224);
  box-sizing: border-box;
  display: block;
}

.column_right h3 {
  text-align: center;
  text-decoration: underline rgb(124, 118, 124);
}

.column_right li {
  font-size: smaller;
}

.coffee {
  color: rgb(114, 55, 31);
}

.boba {
  color:slateblue;
}